# Additional modules we depend on.
# Required from within an RDKIT Conda environment

im-pipelines-utils == 2.0.*

matplotlib == 2.1.1
molvs == 0.0.9
scikit-learn == 0.19.1
scipy == 1.0.0
standardiser == 0.1.9
